{% extends "base.html" %}

{% block main %}


<div class="uk-position-center">
    <!-- Sign Up Title -->
<h1 class="uk-position-relative uk-position-medium uk-position-top-center ">Sign Up</h1>

    <!-- Sign Up Form-->
    <form>
        <div class="uk-margin">
            <div class="uk-inline">
                <input class="uk-input uk-width-medium" type="text">
            </div>
        </div>

        <div class="uk-margin">
            <div class="uk-inline">
                <input class="uk-input uk-width-medium" type="text">
            </div>
        </div>

        <div class="uk-margin">
                <div class="uk-inline">
                    <input class="uk-input uk-width-medium" type="text">
                </div>
            </div>
        
            <div class="uk-margin">
                    <div class="uk-inline">
                        <input class="uk-input uk-width-medium" type="text">
                    </div>
                </div>
    </form>
    
    <!-- Submit Button -->
    <button class="uk-button uk-button-primary uk-width-medium">Submit</button>
    

{% endblock %}