{% extends "base.html" %}

{% block main %}


<div class="uk-position-center">
    <!-- Sign Up Title -->
<h1 class="uk-position-relative uk-position-medium uk-position-top-center ">Sign Up</h1>

    <!-- Sign Up Form-->
    <form method="POST" action="/contact">
        <div class="uk-margin">
            <div class="uk-inline">
                {{ form.first_name(class="uk-input uk-width-medium", placeholder="First Name") }}
            </div>
        </div>

        <div class="uk-margin">
            <div class="uk-inline">
                {{ form.last_name(class="uk-input uk-width-medium", placeholder="Last Name") }}
            </div>
        </div>

        <div class="uk-margin">
                <div class="uk-inline">
                    {{ form.email(class="uk-input uk-width-medium", placeholder="Email") }}
                </div>
            </div>
        
            <div class="uk-margin">
                    <div class="uk-inline">
                        {{ form.password(class="uk-input uk-width-medium", placeholder="Password") }}
                    </div>
            </div>
                
            <div class="uk-margin">
                    <div class="uk-inline">
                        {{ form.confirm(class="uk-input uk-width-medium", placeholder="Confirm Password") }}
                    </div>
            </div>

            <div class="uk-margin">
                <div class="uk-inline">
                    {{ form.role(value="Applicant") }}
                </div>
        </div>
    </form>
    
    <!-- Submit Button -->
    <button class="uk-button uk-button-primary uk-width-medium">Submit</button>
    

{% endblock %}